{% extends 'front_end/layout.html' %}
{% load static l10n verbose_names typecheck humanize %}
{% block css %}
    {% include 'front_end/widgets/inculude_css.html' with select=True date=True %}
{% endblock css %}
{% block content %}
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form id="form" method="post"
                            {% if pk %}
                          action="{% url 'finance-record-update' pk=pk %}"
                            {% else %}
                          action="{% url 'finance-record-create' %}"
                            {% endif %}>
                        {% csrf_token %}
                        <div class="d-flex justify-content-between align-items-baseline mb-2">
                            <h6 class="card-title">{{ pk|yesno:'Düzenle,Ekleme' }}</h6>
                        </div>
                        <div class="col-3">
                            {% form_elements variant="select" field=form.current %}
                        </div>
                        <hr>

                        <div class="row justify-content-between">
                            <div class="col-3">
                                {% form_elements variant="date" field=form.transaction_date %}
                                {% form_elements variant="select" field=form.transaction_type %}
                                {% form_elements field=form.document_no %}
                                {% form_elements variant="select" field=form.payment_type %}

                            </div>
                            <div class="col-3">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="fatura-tab" data-bs-toggle="tab" href="#fatura"
                                           role="tab" aria-controls="fatura" aria-selected="true">Fatura Bilgileri</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="irsaliye-tab" data-bs-toggle="tab" href="#irsaliye"
                                           role="tab" aria-controls="irsaliye" aria-selected="false">İrsaliye
                                            Bilgileri</a>
                                    </li>
                                </ul>
                                <div class="tab-content p-3" id="myTabContent">
                                    <div class="tab-pane fade show active" id="fatura" role="tabpanel"
                                         aria-labelledby="fatura-tab">
                                        {% form_elements field=form.invoice_no %}
                                        {% form_elements variant="select" field=form.invoice_type %}
                                        {% form_elements variant="date" field=form.invoice_date %}

                                    </div>
                                    <div class="tab-pane fade" id="irsaliye" role="tabpanel"
                                         aria-labelledby="irsaliye-tab">
                                        {% form_elements field=form.waybill_no %}
                                        {% form_elements variant="date" field=form.waybill_date %}
                                        {% form_elements variant="date" field=form.dispatch_date %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="alert alert-secondary" role="alert">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                                    data-bs-target="#productsModal">Ürün Bul
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="productsModal" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Kayıtlı Ürünler</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div id="modalBody" class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                İptal
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 table-responsive mb-7">
                            <table class="table table-striped table-bordered border-primary align-middle">
                                <thead class="bg-light text-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Stok Kodu</th>
                                    <th>Stok Adı</th>
                                    <th>Birimi</th>
                                    <th>KDV %</th>
                                    <th>İsk. %</th>
                                    <th>Miktarı</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Tutarı</th>
                                </tr>
                                </thead>
                                <tbody id="recordContent">
                                {% if content %}
                                    {% for row in content %}
                                        <tr id="content-{{ row.product.pk }}" data-pk="{{ row.product.pk }}"
                                            data-sku="{{ row.product.sku }}" data-name="{{ row.product.name }}"
                                            data-measurement_unit="{{ row.product.measurement_unit }}"
                                            data-tax_rate="{{ row.product.tax_rate|commatopoint }}"
                                            data-discount_rate="{{ row.discount_rate|commatopoint }}"
                                            data-quantity="{{ row.quantity|commatopoint }}"
                                            data-unit_price="{{ row.unit_price|commatopoint }}"
                                            data-final_total="{{ row.final_total|commatopoint }}">
                                            <td>
                                                <button type="Button" class="btn btn-primary btn-sm"
                                                        data-bs-target="#productModal" data-bs-toggle="modal">Düzenle
                                                </button>
                                                <button type="Button" class="btn btn-danger btn-sm"
                                                        data-bs-target="#deleteModal" data-id="{{ row.product.pk }}"
                                                        data-name="{{ row.product.name }}" data-bs-toggle="modal"
                                                        data-tr-id="content-{{ row.product.pk }}">Sil
                                                </button>
                                                <input type="hidden" name="records"
                                                       value='{"hidden":{"pk":{{ row.product.pk }},"discount_sum":{{ row.discount_sum|commatopoint }},"sub_total":{{ row.sub_total|commatopoint }},"vat_total":{{ row.vat_total|commatopoint }},"total":{{ row.total|commatopoint }}},"public":{"sku":{{ row.product.sku }},"name":"{{ row.product.name }}","measurement_unit":"{{ row.product.measurement_unit }}","tax_rate":{{ row.product.tax_rate|commatopoint }},"discount_rate":{{ row.discount_rate|commatopoint }},"quantity":{{ row.quantity|commatopoint }},"unit_price":{{ row.unit_price|commatopoint }},"final_total":{{ row.final_total|commatopoint }}}}'>
                                                <input type="hidden" name="data-pk" value="{{ row.product.pk }}">
                                                <input type="hidden" name="data-discount_sum"
                                                       value="{{ row.discount_sum|commatopoint }}">
                                                <input type="hidden" name="data-sub_total"
                                                       value="{{ row.sub_total|commatopoint }}">
                                                <input type="hidden" name="data-vat_total"
                                                       value="{{ row.vat_total|commatopoint }}">
                                                <input type="hidden" name="data-total"
                                                       value="{{ row.total|commatopoint }}">
                                            </td>
                                            <td>
                                                {{ row.product.sku }}
                                            </td>
                                            <td>
                                                {{ row.product.name }}
                                            </td>
                                            <td>
                                                {{ row.product.measurement_unit.symbol }}
                                            </td>
                                            <td>
                                                {{ row.product.tax_rate|floatformat:"0" }}
                                            </td>
                                            <td>
                                                {{ row.discount_rate|floatformat:"0" }}
                                            </td>
                                            <td>
                                                {{ row.quantity|floatformat:"0" }}
                                            </td>
                                            <td>
                                                {{ row.unit_price|floatformat:"2g"|moneyformat }}
                                            </td>
                                            <td>
                                                {{ row.unit_price|totalformat:row.product.tax_rate|floatformat:"2g"|moneyformat }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row justify-content-end mt-5">
                            <div class="col-4 px-3">
                                <style>
                                    fieldset .form-switch {
                                        position: absolute;
                                        right: 20px;
                                        top: -44px;
                                        box-shadow: 0 0 0 4px white;
                                        z-index: 99;
                                        padding-left: 28px;
                                    }

                                    fieldset .form-check-input {
                                        margin-left: -2em !important;
                                    }
                                </style>
                                <fieldset class="border position-relative p-2">
                                    <legend class="float-none w-auto p-2">Ödeme
                                        Durumu
                                    </legend>
                                    {% if form.amount_paid.initial == form.final_total.initial %}
                                        {% switch id="fullPaid" label="Hepsi Ödendi" checked %}
                                        {% form_elements variant="currency" field=form.amount_paid readonly %}
                                    {% else %}
                                        {% switch id="fullPaid" label="Hepsi Ödendi" %}
                                        {% form_elements variant="currency" field=form.amount_paid %}
                                    {% endif %}
                                </fieldset>
                            </div>
                            <div class="col-3">
                                {% form_elements variant="currency" field=form.total readonly %}
                                {% form_elements variant="currency" field=form.discount_sum readonly %}
                                {% form_elements variant="currency" field=form.sub_total readonly %}
                                {% form_elements variant="currency" field=form.vat_total readonly %}
                                {% form_elements variant="currency" field=form.final_total readonly %}
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary me-2">{{ pk|yesno:"Güncelle,Ekle" }}</button>
                        {% if pk %}
                            <a href="{% url 'finance-record-delete' pk=pk %}" class="btn btn-outline-danger">Sil</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Düzenle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="pk">
                    <input type="hidden" id="tax_rate">
                    {% input id="discount_rate" help_text="İskonto Oranı" maxlength="4" label="İskonto" required="True" %}
                    {% input id="quantity" help_text="Toplam Miktar" maxlength="6" label="Miktar" required="True" %}
                    {% input id="unit_price" variant="currency" help_text="Birim Fiyatı" label="Fiyat" required="True" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Güncelle</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Emin misiniz ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Ürün fatura kaydından çıkartılacaktır,
                            emin misiniz ?:</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-danger" id="deleteProductButton">Sil</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    {% include 'front_end/widgets/inculude_js.html' with select=True date=True other=True table=False %}
    <script>
        function fullPaid() {
            const fullPaid = document.getElementById("fullPaid");
            const amountPaid = document.getElementById("id_amount_paid");
            if (fullPaid.checked) {
                amountPaid.value = document.getElementById("id_final_total").value;
                amountPaid.readOnly = true;
            } else {
                amountPaid.value = "";
                amountPaid.readOnly = false;
            }
        }

        //event listener for full paid
        document.getElementById("fullPaid").addEventListener("change", fullPaid);
        //event listener for final total change and full paid
        document.getElementById("id_final_total").addEventListener("change", fullPaid);
    </script>
    <script>

        function hideFunc(modalName) {
            const q_model = document.querySelector(modalName);
            const modal = bootstrap.Modal.getInstance(q_model);
            Array.from(q_model.getElementsByTagName("input")).forEach((input) => input.value = "");
            modal.hide();
        }

        function trIDSwoop(id, tableName = "recordContent") {
            const table = document.getElementById(tableName);
            const arr = Array.from(table.rows).map(x => x.id);
            if (typeof id !== "undefined") {
                return arr.includes(id)
            }
            return false
        }

        fetch('{% url 'product-list-ajax' %}').then(function (response) {
            return response.text();
        }).then(function (html) {
            document.getElementById("modalBody").innerHTML = html;
        }).catch(function (err) {
            console.warn('Something went wrong.', err);
        });

        let tableID = "recordContent"
        let tableRef = document.getElementById(tableID)

        function addRow(attr) {
            function addCell(row, name, content) {
                let newCell = row.insertCell()
                row.setAttribute("data-" + name, content)
                let newText;
                switch (name) {
                    case "final_total":
                    case "unit_price":
                        newText = document.createTextNode(moneyFormat(content))
                        break;
                    default:
                        newText = document.createTextNode(content)
                        break;
                }
                newCell.appendChild(newText)
            }

            let newRow = tableRef.insertRow(-1);
            newRow.setAttribute("id", "content-" + attr.hidden.pk)
            newRow.setAttribute("data-pk", attr.hidden.pk)
            let newCell = newRow.insertCell();

            let btn = document.createElement("button");
            btn.innerHTML = "Düzenle";
            btn.type = "Button"
            btn.className = "btn btn-primary btn-sm";
            btn.setAttribute("data-bs-target", "#productModal")
            btn.setAttribute("data-bs-toggle", "modal")
            newCell.appendChild(btn);

            let btn2 = document.createElement("button");
            btn2.innerHTML = "Sil";
            btn2.type = "Button"
            btn2.className = "btn btn-danger btn-sm";
            btn2.setAttribute("data-bs-target", "#deleteModal")
            btn2.setAttribute("data-id", attr.hidden.pk)
            btn2.setAttribute("data-name", attr.public.name)
            btn2.setAttribute("data-bs-toggle", "modal")
            btn2.setAttribute("data-tr-id", "content-" + attr.hidden.pk)
            newCell.appendChild(btn2);

            const input = document.createElement("input")
            input.setAttribute("type", "hidden")
            input.setAttribute("name", "records")
            input.setAttribute("value", JSON.stringify(attr))
            newCell.appendChild(input)

            for (const [key, value] of Object.entries(attr.hidden)) {
                const input = document.createElement("input")
                input.setAttribute("type", "hidden")
                input.setAttribute("name", "data-" + key)
                input.setAttribute("value", value.toString())
                newCell.appendChild(input)
            }
            for (const [key, value] of Object.entries(attr.public)) {
                addCell(newRow, key, value);
            }

        }

        const productModal = document.getElementById('productModal');

        productModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const tr = button.parentElement.parentElement;
            const attributeNodeArray = [...tr.attributes];
            const attrs = attributeNodeArray.reduce((attrs, attribute) => {
                attrs[attribute.name] = attribute.value;
                let element = document.getElementById(attribute.name.replace('data-', ''));
                if (typeof (element) != 'undefined' && element != null) {
                    element.value = attribute.value
                }
                return attrs;
            }, {});
        })

        productModal.addEventListener('hide.bs.modal', function (event) {
            const pk = productModal.querySelector('#pk').value;
            const trRef = document.querySelector(`[data-pk="${pk}"]`)
            Array.from(productModal.getElementsByTagName("input")).forEach((input) => {
                trRef.setAttribute("data-" + input.id, input.value.replaceAll(",", ""));
            });
            swoopAndSend()
        })

        function moneyFormat(money) {
            if (isNaN(money)) {
                return money
            } else {
                const formatter = new Intl.NumberFormat('tr-TR', {
                    style: 'currency',
                    currency: 'TRY'
                });

                return formatter.format(money)
            }
        }

        function swoopAndSend(other = false) {
            products = trSwoop()
            let token = document.getElementsByName("csrfmiddlewaretoken")[0].value
            fetch('{% url 'bill-update' %}', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': token
                },
                body: JSON.stringify(products)
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                tableRef.innerHTML = ''
                changeINPUTValue('id_total', data['bill_result'].total)
                changeINPUTValue('id_discount_sum', data['bill_result'].discount_sum)
                changeINPUTValue('id_sub_total', data['bill_result'].sub_total)
                changeINPUTValue('id_vat_total', data['bill_result'].vat_total)
                changeINPUTValue('id_final_total', data['bill_result'].final_total)
                data['products_bills'].forEach(x => addRow(x))
                if (!other) {
                    hideFunc("#productModal")
                }
                fullPaid()
            }).catch(function (err) {
                console.warn('Bir şeyler ters gitti.', err);
            });
        }

        function trSwoop(count = false, tableName = "recordContent") {
            const table = document.getElementById(tableName);
            const arr = Array.from(table.rows);
            if (count) {
                return arr.length;
            }
            let products = []
            for (let row of arr) {
                let product = {}
                for (const [key, attr] of Object.entries(row.attributes)) {
                    if (isNaN(parseFloat(attr.value))) {
                        product[attr.name.replace("data-", "")] = attr.value;
                    } else {
                        product[attr.name.replace("data-", "")] = parseFloat(attr.value);
                    }
                    //console.log(`${key} : ${attr.name.replace("data-", "")} : ${attr.value}`);
                }
                products.push(product)
            }
            return products
        }

        function changeINPUTValue(inputID, value) {
            document.getElementById(inputID).value = value;
        }

        function chooseProduct(product) {
            let token = document.getElementsByName("csrfmiddlewaretoken")[0].value
            product = JSON.parse(product.dataset.product);
            for (const [k, v] of Object.entries(product)) {
                if (isNaN(parseFloat(v))) {
                    product[k] = v;
                } else {
                    product[k] = parseFloat(v);
                }
            }
            product['id'] = "content-" + product.pk
            if (trIDSwoop("content-" + product.pk)) {
                new Noty({
                    type: 'warning',
                    layout: 'topRight',
                    text: '"' + product.name + '" isimli ürün listede mevcut!',
                    timeout: 5000,
                }).show();
            } else {
                let products;
                if (trSwoop(true) > 0) {
                    products = trSwoop();
                    products.push(product);
                } else {
                    products = product;
                }
                fetch('{% url 'bill-update' %}', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': token
                    },
                    body: JSON.stringify(products)
                }).then(function (response) {
                    return response.json();
                }).then(function (data) {
                    tableRef.innerHTML = ''
                    //TODO: İnputlarda ki Virgül sorunu hallet
                    changeINPUTValue('id_total', data['bill_result'].total)
                    changeINPUTValue('id_sub_total', data['bill_result'].sub_total)
                    changeINPUTValue('id_discount_sum', data['bill_result'].discount_sum)
                    changeINPUTValue('id_vat_total', data['bill_result'].vat_total)
                    changeINPUTValue('id_final_total', data['bill_result'].final_total)
                    data['products_bills'].forEach(x => addRow(x))
                    hideFunc("#productsModal")
                    fullPaid()
                }).catch(function (err) {
                    console.warn('Bir şeyler ters gitti.', err);
                });
            }
        }
    </script>
    <script>
        // Delete
        function deleteRow(RowID) {
            const element = document.getElementById(RowID);
            element.remove();
            swoopAndSend(true)
            hideFunc("#deleteModal")
        }

        let deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget;
            let recipient = button.getAttribute('data-name');
            let recipient_id = button.getAttribute('data-id');
            let tr_id = button.getAttribute('data-tr-id');
            let modalTitle = deleteModal.querySelector('label');
            modalTitle.textContent = '"' + recipient + '" adlı ürün fatura kaydından çıkartılacaktır, emin misiniz ?'
            let deleteBtn = deleteModal.querySelector("#deleteProductButton")
            deleteBtn.setAttribute("data-id", recipient_id)
            deleteBtn.setAttribute("data-tr-id", tr_id)
            deleteBtn.removeAttribute("disabled")
            deleteBtn.onclick = () => deleteRow(tr_id)
        })

        deleteModal.addEventListener('hide.bs.modal', function (event) {
            let modalTitle = deleteModal.querySelector('label');
            modalTitle.textContent = '...'
            let deleteBtn = deleteModal.querySelector("#deleteProductButton")
            deleteBtn.setAttribute("data-id", "")
            deleteBtn.setAttribute("data-tr-id", "")
            deleteBtn.onclick = ""
            deleteBtn.setAttribute("disabled", "disabled")
        })
    </script>
{% endblock script %}