{% extends 'front_end/layout.html' %}
{% load static l10n verbose_names typecheck humanize %}
{% block css %}
    {% include 'front_end/widgets/inculude_css.html' with select=True date=True %}
{% endblock css %}
{% block content %}
    <div class="row" hx-target="this" hx-swap="outerHTML" hx-indicator=".loader">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form method="post"
                            {% if pk %}
                          action="{% url 'finance-record-update' pk=pk %}"
                            {% else %}
                          action="{% url 'finance-record-create' %}"
                            {% endif %}>
                        {% csrf_token %}
                        <div class="d-flex justify-content-between align-items-baseline mb-2">
                            <h6 class="card-title">{{ pk|yesno:'Düzenle,Ekleme' }}</h6>
                        </div>
                        <div class="col-3">
                            {% form_elements variant="select" field=form.current %}
                        </div>
                        <hr>

                        <div class="row justify-content-between">
                            <div class="col-3">
                                {% form_elements variant="date" field=form.transaction_date %}
                                {% form_elements variant="select" field=form.transaction_type %}
                                {% form_elements field=form.document_no %}
                                {% form_elements variant="select" field=form.payment_type %}

                            </div>
                            <div class="col-3">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="fatura-tab" data-bs-toggle="tab" href="#fatura"
                                           role="tab" aria-controls="fatura" aria-selected="true">Fatura Bilgileri</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="irsaliye-tab" data-bs-toggle="tab" href="#irsaliye"
                                           role="tab" aria-controls="irsaliye" aria-selected="false">İrsaliye
                                            Bilgileri</a>
                                    </li>
                                </ul>
                                <div class="tab-content p-3" id="myTabContent">
                                    <div class="tab-pane fade show active" id="fatura" role="tabpanel"
                                         aria-labelledby="fatura-tab">
                                        {% form_elements field=form.invoice_no %}
                                        {% form_elements variant="select" field=form.invoice_type %}
                                        {% form_elements variant="date" field=form.invoice_date %}

                                    </div>
                                    <div class="tab-pane fade" id="irsaliye" role="tabpanel"
                                         aria-labelledby="irsaliye-tab">
                                        {% form_elements field=form.waybill_no %}
                                        {% form_elements variant="date" field=form.waybill_date %}
                                        {% form_elements variant="date" field=form.dispatch_date %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="alert alert-secondary" role="alert">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                                    data-bs-target="#productsModal">Ürün Bul
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="productsModal" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Kayıtlı Ürünler</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div id="modalBody" class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                İptal
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 table-responsive">
                            <table class="table table-striped table-bordered border-primary align-middle">
                                <thead class="bg-light text-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Stok Kodu</th>
                                    <th>Stok Adı</th>
                                    <th>Birimi</th>
                                    <th>KDV %</th>
                                    <th>İsk. %</th>
                                    <th>Miktarı</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Tutarı</th>
                                </tr>
                                </thead>
                                <tbody id="recordContent">
                                {% for row in content %}
                                    <tr id="content-{{ row.product.pk }}"
                                            {% comment %}
                                        let islem_tutar = price * unit
                                        let iskonto_tutar = islem_tutar * discount / 100
                                        let ara_toplam = islem_tutar * (100 - discount) / 100
                                        let total_price = ara_toplam * (1 + (Number(attr.tax_rate) / 100))
                                        let kdv_toplam = (total_price - (total_price / (1 + (Number(attr.tax_rate) / 100))))
                                        {{ row.quantity|floatformat:"0"|mult:row.unit_price }}
                                        {% endcomment %}
                                        data-product-units-price-total="{{ row.unit_price|total:row.quantity }}"
                                        data-product-discount-total="{% discount_sum row.unit_price row.quantity row.discount_rate %}"
                                        data-product-sub-total="{% sub_total row.unit_price row.quantity row.discount_rate %}"
                                        data-product-tax-total="{% vat_total row.unit_price row.quantity row.discount_rate row.product.tax_rate %}"
                                        data-product-total-price="{% final_total row.unit_price row.quantity row.discount_rate row.product.tax_rate %}"
                                        data-product-sku="{{ row.product.sku }}"
                                        data-product-name="{{ row.product.name }}"
                                        data-product-measurement-unit="{{ row.product.measurement_unit.symbol }}"
                                        data-product-tax-rate="{{ row.product.tax_rate|floatformat:"0" }}"
                                        data-product-discount="{{ row.discount_rate|floatformat:"0" }}"
                                        data-product-unit="{{ row.quantity|floatformat:"0" }}"
                                        data-product-price-by-unit="{{ row.unit_price|commatopoint }}">
                                        <td>
                                            <input type="hidden" name="data-product-id" value="{{ row.product.pk }}">
                                            <button type="Button" class="btn btn-primary btn-sm"
                                                    data-bs-target="#productModal" data-bs-toggle="modal">Düzenle
                                            </button>
                                            <button type="Button" class="btn btn-danger btn-sm"
                                                    data-bs-target="#deleteModal" data-bs-toggle="modal"
                                                    data-bs-id="{{ row.pk }}" data-bs-db="1"
                                                    data-bs-name="{{ row.product.name }}"
                                                    data-bs-tr-id="content-{{ row.product.pk }}">Sil
                                            </button>
                                        </td>
                                        <td class="data-product-sku">
                                            <input type="hidden" name="data-product-sku" value="{{ row.product.sku }}">
                                            {{ row.product.sku }}
                                        </td>
                                        <td class="data-product-name">
                                            <input type="hidden" name="data-product-name"
                                                   value="{{ row.product.name }}">
                                            {{ row.product.name }}
                                        </td>
                                        <td class="data-product-measurement-unit">
                                            <input type="hidden" name="data-product-measurement-unit"
                                                   value="{{ row.product.measurement_unit.symbol }}">
                                            {{ row.product.measurement_unit.symbol }}
                                        </td>
                                        <td class="data-product-tax-rate">
                                            <input type="hidden" name="data-product-tax-rate"
                                                   value="{{ row.product.tax_rate|floatformat:"0" }}">
                                            {{ row.product.tax_rate|floatformat:"0" }}
                                        </td>
                                        <td class="data-product-discount">
                                            <input type="hidden" name="data-product-discount"
                                                   value="{{ row.discount_rate|floatformat:"0" }}">
                                            {{ row.discount_rate|floatformat:"0" }}
                                        </td>
                                        <td class="data-product-unit">
                                            <input type="hidden" name="data-product-unit"
                                                   value="{{ row.quantity|floatformat:"0" }}">
                                            {{ row.quantity|floatformat:"0" }}
                                        </td>
                                        <td class="data-product-price-by-unit">
                                            <input type="hidden" name="data-product-price-by-unit"
                                                   value="{{ row.unit_price|commatopoint }}">
                                            {{ row.unit_price|floatformat:"2g"|moneyformat }}
                                        </td>
                                        <td class="data-product-total-price">
                                            <input type="hidden" name="data-product-total-price"
                                                   value="{{ row.unit_price|totalformat:row.product.tax_rate }}">
                                            {{ row.unit_price|totalformat:row.product.tax_rate|floatformat:"2g"|moneyformat }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row justify-content-end">
                            <div class="col-4 px-3">
                                <fieldset class="border p-2">
                                    <legend class="float-none w-auto p-2">Ödeme Durumu</legend>
                                    {% form_elements variant="currency" field=form.amount_paid %}
                                </fieldset>
                            </div>
                            <div class="col-3">
                                {% form_elements variant="currency" field=form.total %}
                                {% form_elements variant="currency" field=form.discount_sum %}
                                {% form_elements variant="currency" field=form.sub_total %}
                                {% form_elements variant="currency" field=form.vat_total %}
                                {% form_elements variant="currency" field=form.final_total %}
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary me-2">{{ pk|yesno:"Güncelle,Ekle" }}</button>
                        {% if pk %}
                            <a href="{% url 'finance-record-delete' pk=pk %}" class="btn btn-outline-danger">Sil</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Düzenle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="contentPK">
                    <input type="hidden" id="tax_rate">
                    {% input id="discount" help_text="İskonto Oranı" maxlength="2" label="İskonto" required="True" %}
                    {% input id="unit" help_text="Toplam Miktar" maxlength="6" label="Miktar" required="True" %}
                    {% input id="price_by_unit" variant="currency" help_text="Birim Fiyatı" label="Fiyat" required="True" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Güncelle</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Emin misiniz ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Ürün fatura kaydından çıkartılacaktır,
                            emin misiniz ?:</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-danger" id="deleteProductButton">Sil</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    {% include 'front_end/widgets/inculude_js.html' with select=True date=True other=True %}
    <script>
        fetch('{% url 'product-list-ajax' %}').then(function (response) {
            return response.text();
        }).then(function (html) {
            document.getElementById("modalBody").innerHTML = html;
        }).catch(function (err) {
            // There was an error
            console.warn('Something went wrong.', err);
        });
    </script>
    <script>
        class FaturaOzet {
            constructor() {
                if (FaturaOzet._instance) {
                    return FaturaOzet._instance
                }
                FaturaOzet._instance = this;
            }


            calc() {
                let islem_tutar = 0
                let islem_tutar_data = "data-product-units-price-total"
                let islem_tutar_id = "id_total"
                let iskonto_tutar = 0
                let iskonto_tutar_data = "data-product-discount-total"
                let iskonto_tutar_id = "id_discount_sum"
                let ara_toplam = 0
                let ara_toplam_data = "data-product-sub-total"
                let ara_toplam_id = "id_sub_total"
                let kdv_tutar = 0
                let kdv_tutar_data = "data-product-tax-total"
                let kdv_tutar_id = "id_vat_total"
                let genel_toplam = 0
                let genel_toplam_data = "data-product-total-price"
                const genel_toplam_id = "id_final_total"
                let tableID = "recordContent"
                let objs = {};
                let tableRef = document.getElementById(tableID)
                const tr = tableRef.querySelectorAll("tr")

                tr.forEach(function (x, y) {
                    const attributeNodeArray = [...x.attributes]
                    objs[x.id] = attributeNodeArray.reduce((attrs, attribute) => {
                        attrs[attribute.name] = attribute.value
                        return attrs
                    }, {});
                })

                Object.keys(objs).forEach(key => {
                    islem_tutar += parseFloat(objs[key][islem_tutar_data].replaceAll(",", ""))
                    iskonto_tutar += parseFloat(objs[key][iskonto_tutar_data].replaceAll(",", ""))
                    ara_toplam += parseFloat(objs[key][ara_toplam_data].replaceAll(",", ""))
                    kdv_tutar += parseFloat(objs[key][kdv_tutar_data].replaceAll(",", ""))
                    genel_toplam += parseFloat(objs[key][genel_toplam_data].replaceAll(",", ""))
                })
                document.getElementById(islem_tutar_id).value = islem_tutar
                document.getElementById(iskonto_tutar_id).value = iskonto_tutar
                document.getElementById(ara_toplam_id).value = ara_toplam
                document.getElementById(kdv_tutar_id).value = kdv_tutar
                document.getElementById(genel_toplam_id).value = genel_toplam

            }
        }

        let bill = new FaturaOzet()
        let formatCurrency = new Intl.NumberFormat('en-US', {
            maximumFractionDigits: 2,
            minimumFractionDigits: 2,
        });

        function hideFunc(modalName) {
            const q_model = document.querySelector(modalName);
            const modal = bootstrap.Modal.getInstance(q_model);
            modal.hide();
        }

        function addRow(attr) {
            const tableID = "recordContent"
            // Get a reference to the table
            let tableRef = document.getElementById(tableID);

            // Insert a row at the end of the table
            let newRow = tableRef.insertRow(-1);
            newRow.setAttribute("id", "content-" + attr.id)

            let price = parseFloat(attr.price.replaceAll(',', '.').replaceAll(' ', ''))
            let discount = 0
            let unit = 1
            let islem_tutar = price * unit
            let iskonto_tutar = islem_tutar * discount / 100
            let ara_toplam = islem_tutar * (100 - discount) / 100
            let total_price = ara_toplam * (1 + (Number(attr.tax_rate) / 100))
            let kdv_toplam = (total_price - (total_price / (1 + (Number(attr.tax_rate) / 100))))
            newRow.setAttribute("data-product-units-price-total", islem_tutar.toString());
            newRow.setAttribute("data-product-discount-total", iskonto_tutar.toString());
            newRow.setAttribute("data-product-sub-total", ara_toplam.toString());
            newRow.setAttribute("data-product-tax-total", kdv_toplam.toString());
            newRow.setAttribute("data-product-total-price", total_price.toString());

            function addCell(row, name, content, type = "") {
                let newCell = row.insertCell()
                newCell.setAttribute("class", name)
                const input = document.createElement("input")
                input.setAttribute("type", "hidden")
                input.setAttribute("name", name)
                input.setAttribute("value", content)
                newCell.appendChild(input)
                row.setAttribute(name, content)
                // Append a text node to the cell
                if (type === "currency") {
                    content = formatCurrency.format(content)
                }
                let newText = document.createTextNode(content)
                newCell.appendChild(newText)
            }

            let btn = document.createElement("button");
            btn.innerHTML = "Düzenle";
            btn.type = "Button"
            btn.className = "btn btn-primary btn-sm";
            btn.setAttribute("data-bs-target", "#productModal")
            btn.setAttribute("data-bs-toggle", "modal")

            let btn2 = document.createElement("button");
            btn2.innerHTML = "Sil";
            btn2.type = "Button"
            btn2.className = "btn btn-danger btn-sm";
            btn2.setAttribute("data-bs-target", "#deleteModal")
            btn2.setAttribute("data-bs-id", attr.id)
            btn2.setAttribute("data-bs-name", attr.name)
            btn2.setAttribute("data-bs-toggle", "modal")
            btn2.setAttribute("data-bs-tr-id", "content-" + attr.id)

            const input = document.createElement("input")
            input.setAttribute("type", "hidden")
            input.setAttribute("name", "data-product-id")
            input.setAttribute("value", attr.id)
            let newCell = newRow.insertCell();
            newCell.appendChild(input)
            newCell.appendChild(btn);
            newCell.appendChild(btn2);

            //console.log(parseFloat(attr.price.replaceAll(',', '.').replaceAll(' ', '')))
            //console.log(formatCurrency.format(parseFloat(attr.price.replaceAll(',', '.').replaceAll(' ', ''))))

            addCell(newRow, "data-product-sku", attr.sku)
            addCell(newRow, "data-product-name", attr.name)
            addCell(newRow, "data-product-measurement-unit", attr.measurement_unit)
            addCell(newRow, "data-product-tax-rate", attr.tax_rate)
            addCell(newRow, "data-product-discount", "0")
            addCell(newRow, "data-product-unit", "1")
            addCell(newRow, "data-product-price-by-unit", price, "currency")
            addCell(newRow, "data-product-total-price", price * (1 + (Number(attr.tax_rate) / 100)), "currency")
        }

        function chooseProduct(product) {
            const attr = {
                id: product.getAttribute("data-product-id"),
                sku: product.getAttribute("data-product-sku"),
                name: product.getAttribute("data-product-name"),
                upc: product.getAttribute("data-product-upc"),
                tax_rate: product.getAttribute("data-product-tax-rate"),
                price: product.getAttribute("data-product-price"),
                measurement_unit: product.getAttribute("data-product-measurement-unit"),
            }
            let tableID = "recordContent"
            let tr_ids = [];
            let tableRef = document.getElementById(tableID)
            let tr = tableRef.querySelectorAll("tr")
            if (tr.length > 0) {
                tr.forEach(x => tr_ids.push(x.id))
                if (tr_ids.includes("content-" + attr.id)) {
                    new Noty({
                        type: 'warning',
                        layout: 'topRight',
                        text: 'Bu ürün listede mevcut!',
                        timeout: 5000,
                    }).show();
                } else {
                    addRow(attr);
                    bill.calc()
                }
            } else {
                tr_ids.push("content-" + attr.id)
                addRow(attr);
                bill.calc()
            }

            hideFunc("#productsModal")
        }


        const productModal = document.getElementById('productModal');

        productModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const tr = button.parentElement.parentElement;
            const attributeNodeArray = [...tr.attributes];
            const attrs = attributeNodeArray.reduce((attrs, attribute) => {
                attrs[attribute.name] = attribute.value;
                return attrs;
            }, {});
            const contentPK = productModal.querySelector('#contentPK');
            contentPK.value = attrs['id'];
            const tax_rate = productModal.querySelector('#tax_rate');
            tax_rate.value = attrs['data-product-tax-rate'];
            const discount = productModal.querySelector('#discount');
            discount.value = attrs['data-product-discount'];
            const unit = productModal.querySelector('#unit');
            unit.value = attrs['data-product-unit'];
            const price_by_unit = productModal.querySelector('#price_by_unit');
            price_by_unit.value = attrs['data-product-price-by-unit'];
        })

        productModal.addEventListener('hide.bs.modal', function (event) {
            const contentPK = productModal.querySelector('#contentPK').value;
            let trRef = document.getElementById(contentPK)


            const discount = productModal.querySelector('#discount').value;
            trRef.setAttribute("data-product-discount", discount);
            trRef.querySelector('.data-product-discount').innerHTML = discount;
            let discount_input = document.createElement("input")
            discount_input.setAttribute("type", "hidden")
            discount_input.setAttribute("name", "data-product-discount")
            discount_input.setAttribute("value", discount)
            trRef.querySelector('.data-product-discount').appendChild(discount_input);

            const unit = productModal.querySelector('#unit').value;
            trRef.setAttribute("data-product-unit", unit);
            trRef.querySelector('.data-product-unit').innerHTML = unit;
            let unit_input = document.createElement("input")
            unit_input.setAttribute("type", "hidden")
            unit_input.setAttribute("name", "data-product-unit")
            unit_input.setAttribute("value", unit)
            trRef.querySelector('.data-product-unit').appendChild(unit_input);

            let price_by_unit = productModal.querySelector('#price_by_unit').value;
            price_by_unit = price_by_unit.replaceAll(",", "")
            console.log(price_by_unit + " / " + typeof (price_by_unit))
            trRef.setAttribute("data-product-price-by-unit", price_by_unit);
            trRef.querySelector('.data-product-price-by-unit').innerHTML = formatCurrency.format(price_by_unit);
            let price_by_unit_input = document.createElement("input")
            price_by_unit_input.setAttribute("type", "hidden")
            price_by_unit_input.setAttribute("name", "data-product-price-by-unit")
            price_by_unit_input.setAttribute("value", price_by_unit)
            trRef.querySelector('.data-product-price-by-unit').appendChild(price_by_unit_input);

            let tax_rate = Number(productModal.querySelector('#tax_rate').value)
            let islem_tutar = price_by_unit * Number(unit)
            let iskonto_tutar = islem_tutar * discount / 100
            let ara_toplam = islem_tutar * (100 - discount) / 100
            let total_price = ara_toplam * (1 + (tax_rate / 100))
            let kdv_toplam = (total_price - (total_price / (1 + (tax_rate / 100))))
            //(Net Tutar) x [1 + (Vergi Oranı/100)] KDV'li Tutar
            //(Brüt Tutar) / [1 + (Vergi Oranı/100)] KDV'siz Tutar
            trRef.setAttribute("data-product-units-price-total", islem_tutar.toString());
            trRef.setAttribute("data-product-discount-total", iskonto_tutar.toString());
            trRef.setAttribute("data-product-sub-total", ara_toplam.toString());
            trRef.setAttribute("data-product-tax-total", kdv_toplam.toString());
            trRef.setAttribute("data-product-total-price", total_price.toString());
            trRef.querySelector('.data-product-total-price').innerHTML = formatCurrency.format(total_price);
            let total_price_input = document.createElement("input")
            total_price_input.setAttribute("type", "hidden")
            total_price_input.setAttribute("name", "data-product-total-price")
            total_price_input.setAttribute("value", total_price.toString())
            trRef.querySelector('.data-product-total-price').appendChild(total_price_input);
            bill.calc()
        })

        let deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            // data-bs-id="pk" data-bs-db="1" data-bs-name="product-name"
            let button = event.relatedTarget;
            let recipient = button.getAttribute('data-bs-name');
            let recipient_id = button.getAttribute('data-bs-id');
            let tr_id = button.getAttribute('data-bs-tr-id');
            let modalTitle = deleteModal.querySelector('label');
            modalTitle.textContent = '"' + recipient + '" adlı ürün fatura kaydından çıkartılacaktır, emin misiniz ?'
            let deleteBtn = deleteModal.querySelector("#deleteProductButton")
            deleteBtn.setAttribute("data-bs-id", recipient_id)
            deleteBtn.setAttribute("data-bs-tr-id", tr_id)
            if (button.hasAttribute('data-bs-db')) {
                deleteBtn.setAttribute("data-bs-db", "1")
            }
        })

        function deleteRow(RowID) {
            const element = document.getElementById(RowID);
            element.remove();
        }

        let modalDeleteButton = document.getElementById("deleteProductButton")
        modalDeleteButton.addEventListener("click", function (event) {
            let button = event.target
            let trID = button.getAttribute('data-bs-tr-id')
            if (button.hasAttribute('data-bs-db')) {
                // TODO: DB delete and price update
                deleteRow(trID)
            } else {
                deleteRow(trID)
            }
            hideFunc('#deleteModal')
            bill.calc()
        });
    </script>
{% endblock script %}