{% extends 'front_end/layout.html' %}
{% load static verbose_names %}
{% block css %}
    {% include 'front_end/widgets/inculude_css.html' with table=True %}
{% endblock css %}
{% block content %}
    <div class="row">
        {% if table is not None %}
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline mb-5">
                            <h6 class="card-title fs-4">{% get_model_verbose_name table.first %}</h6>
                            <a href="{% url 'stock-create' %}" class="btn btn-outline-light">Yeni Ekle</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{% get_verbose_name table.first "product" %}</th>
                                    <th>{% get_verbose_name table.first "last_checked" %}</th>
                                    <th>{% get_verbose_name table.first "units" %}</th>
                                    <th data-orderable="false" class="fit"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row  in table %}
                                    <tr>
                                        <td>{{ row.product }}</td>
                                        <td>{{ row.last_checked }}</td>
                                        <td>{{ row.units }}</td>
                                        <td>
                                            <a href="{% url 'stock-update' pk=row.pk %}"
                                               class="btn btn-light">Düzenle</a>
                                            <a class="btn btn-outline-danger"
                                               href="{% url 'stock-delete' pk=row.pk %}">
                                                Sil
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-6 grid-margin stretch-card m-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h6 class="card-title">Bilgi bulunmamaktadır, Lütfen yeni bilgi ekleyiniz...</h6>
                            <a href="{% url 'stock-create' %}" class="btn btn-outline-light">Yeni Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block script %}
    {% include 'front_end/widgets/inculude_js.html' with table=True %}
{% endblock script %}