{% load typecheck %}
<div class="input-group has-validation mb-4">
    <label class="input-group-text" for="{{ id }}">
        <span class="iconify" data-icon="{{ icon|default:"mdi:chevron-down" }}"></span>
    </label>
    <div class="form-floating" style="width: calc(100% - 38px)">
        <select {% attrs id multiple %} name="{{ name|default:id }}"
                                        class="{{ errors|yesno:"is-invalid," }}{{ class|add:" form-select" }}"
                                        data-allow-clear="{{ required|yesno:"false,true" }}"
                                        data-placeholder="{{ placeholder|default:"****"|title }}" {{ attrs }}>
            <option></option>
            {% if options %}
                {% for key, value in options %}
                    {% if value|typecheck:"tuple" %}
                        <optgroup label="{{ key }}">
                            {% for k, v in value %}
                                <option value="{{ k }}" {% if selected == k %}selected{% endif %}>{{ v }}</option>
                            {% endfor %}
                        </optgroup>
                    {% else %}
                        {% if multiple %}
                            <option value="{{ key }}"
                                    {% if selected %}{% if selected|isselected:key %}selected
                                    {% endif %}{% endif %}>{{ value }}</option>
                        {% else %}
                            <option value="{{ key }}" {% if selected == key %}selected{% endif %}>{{ value }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
        <label for="{{ id }}">{{ label|default:id|title }}</label>
        {% if errors %}
            <div id="{{ id }}" class="invalid-tooltip">
                {% for error in errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>