{% load static %}

<!-- core:js -->
<script src="{% static 'assets/vendors/core/core.js' %}"></script>
<!-- endinject -->

<!-- inject:js -->
<script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
{% include 'front_end/widgets/messages.html' %}
<script src="{% static 'assets/js/template.js' %}"></script>
<!-- endinject -->
